* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #FAFAFA;
   
}

p,h1,h2,h3,h4{
    margin: 0;
}


main{

    margin: 0 auto;
}
/*////////////////////////////////////////////////////*/
/*   NAVBAR */
/*////////////////////////////////////////////////////*/

nav{
    width: 100%;
    background-color: #FFFFFF;
    font-size: 0.8469rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: max-content minmax(min-content,max-content) 1fr max-content ;
    align-items: center;
    grid-column-gap: .3em;
    padding: 1.25em 1.5em 2.1875rem 1.5em;
    grid-template-areas: 
    "logo title home about"
    
    ;

}



nav a {
    text-decoration: none;
    color: black;


}

.about,.home{
    text-transform: uppercase;
    font-size: 0.75rem;
}

.logo{
    grid-area: "logo";

}

nav a:hover,nav a:focus{

    padding: .3em;
    outline: auto;
   
}

.title{
    grid-area: "title";
    
}

.home{
    grid-area: "home";
    justify-self: end;

    width: max-content;
}

.about{
    grid-area: "about";
    justify-self: end;
    margin-left: 1.5rem;
}




/*////////////////////////////////////////////////////*/
/*   HEADER */
/*////////////////////////////////////////////////////*/

header,.hero-section,.article-section{
    padding: 0px 1.5em 2.1875rem 1.5em;
    line-height: 1.3;
  
   
   
   }
  
   .article-section,header {
    max-width: 1440px;
 }


header{
   
    display: flex;
    flex-direction: column;
    gap: 2.0625em;
    padding-top: 5.6875em;
   
}

.header-title{
    font-size: 2.1775rem;
   
}


/*////////////////////////////////////////////////////*/
/*   HERO SECTION */
/*////////////////////////////////////////////////////*/

.hero-section{
    max-width: 1370px ;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.recent-post {

    width: max-content;
    margin:  3.1875em auto 1.6875em auto;
    font-weight: bold;
}
/*////////////////////////////////////////////////////*/
/* ARTICLE SECTION */
/*////////////////////////////////////////////////////*/

.article-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    gap: 1em;
    margin: 0 auto;
    background-color: #FAFAFA;
}


.article{
    
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 2em;

}

.article-img{
    
    height: 100%;
    border: 2px solid #252325;
    border-radius: 3px;
    cursor: pointer;
    
}

.article-date{
    font-size: 0.875rem;

}

.article-title{
    font-size: 1.5rem;

}


/*////////////////////////////////////////////////////*/
/* FOOTER */
/*////////////////////////////////////////////////////*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.3125em;
    background-color: #202020;
    color: #ECECEC;
    align-items: center;
   

}

.footer-copyright{
    font-family: 'Source Sans Pro';
    font-weight: 400;

}

/*////////////////////////////////////////////////////*/
/* MEDIA QUERIES */
/*////////////////////////////////////////////////////*/

@media (min-width: 700px){

    .hero-section{
        padding: 2.25em 7.5625em 2.1875rem 7.5625em;
        margin: 0 auto;
        
       }

     header{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        line-height: 1.2;
     }
   
     .about-img{
        min-width: 250px;
      
     }

     .header-title{
        margin-bottom: .5em;
     }

   .article-section{
    grid-template-columns: repeat(3,minmax(200px , 1fr));

   }
  
} 
