
body{
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: rgb(224, 247, 247);
   
}

p,h1,h2,h3,h4{
    margin: 0;
}

/*////////////////////////////////////////////////////*/
/*  NAV BAR   */
/*////////////////////////////////////////////////////*/

nav{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    display: grid;
    grid-template-columns: min-content minmax(min-content,max-content) 1fr max-content ;
    grid-template-areas: 
        "logo title home about"
    ;
    align-items: center;
    gap: .2em;
    padding: 1.5em 1.2em;
   
}

nav a {
    text-decoration: none;
    color: #090909;
    
}

nav a:hover,nav a:focus{

   
    outline: auto;
   
}

.logo{
    width: 23px;
    grid-area: "logo";
 
    
}
.title{
    grid-area: "title";
    padding: .2em;
}
.home{
    padding: .2em;
    grid-area:"home";
    justify-self: end;
    text-transform: uppercase;
    
}
.about{
    
    justify-self: end;
    grid-area: "about";
    margin-left: 1em; 
    padding: .2em;
    text-transform: uppercase;
     
}

/*////////////////////////////////////////////////////*/
/*  HEADER  */
/*////////////////////////////////////////////////////*/

header{
    
    background-image: url("/images/blog-image-hero.png") ;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
     
}

.header-container{
    padding: 5.4375em 1.25em 1.5em 1.25em;
    display: grid;
    row-gap: .5em; 
    max-height: 293px;
    margin: 0 auto;
}


.header-date{
    font-size: 0.75rem;
    text-transform: uppercase;

}
.header-title{
    font-size: 2rem;
    line-height: 1.2;
}

/*////////////////////////////////////////////////////*/
/* MAIN  CONTENT */
/*////////////////////////////////////////////////////*/

main{
    padding-top:2.125em ;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr));
    max-width: 1500px;
    margin: 0 auto;
    
}

.article{
    
    padding: 0px 1.25em 2.5625rem 1.25em;
    display: flex;
    flex-direction: column;
    gap: .5em;
   
}

.article-img{
    border: 2px solid #252325;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
     
}

.article-date{
    
    font-size: 0.875rem;
}
.article-title{
    font-size: 1.5rem;
}


.view-more{  
    display: flex; 
    margin: 0 auto;
    width: max-content;
    margin-bottom: 3.1875rem;
    text-transform: capitalize;
    color: #000000;
    font-weight: bold;
    cursor: pointer; 
    text-decoration: underline;
    
} 

.view-more:hover,
.view-more:focus{

    color: #807979;
}

/*////////////////////////////////////////////////////*/
/* FOOTER */ 
/*////////////////////////////////////////////////////*/

footer{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    color: #ECECEC;
}

.footer-title{
    font-weight: bold;
    font-size: 0.75rem;

}

.footer-copyright{
    font-size: 0.75rem;
    font-weight: 400;
    color: #D7D7D7;

}

 .hidden{
   
   display: none;
 }

 /*////////////////////////////////////////////////////*/
/* ANIMATIONS  */
/*////////////////////////////////////////////////////*/

@keyframes disolve {
    0% { opacity: 0; }
    100% { opacity: 1; }
   
  }


/*////////////////////////////////////////////////////*/
 /* MEDIA QUERIES */
 /*////////////////////////////////////////////////////*/

 @media  (min-width : 700px){

    header{
        min-height: 300px ;
        display: flex;
        flex-direction: column;
        justify-content: end;
        
    }
       
    .header.title {
        font-size: 2.5rem;

    }
    .header-p{
            padding-bottom: 3.6875em;
            font-size: 1rem;
        }

   

    main{
        grid-template-columns: repeat(3 ,minmax(200px, 1fr));
      
    }
    
 }